<div class="container">
  <div class="alert alert-primary" role="alert">
    <div class="row">
      <div class="col-md-10">
        <b>{{title}}</b>
      </div>
      <div class="col-md-2 text-end" *transloco="let translate">
          <button type="button" class="btn btn-outline-primary" (click)="toggleFooter()">
            {{translate('app.showFooter')}}
          </button>
      </div>
    </div>
  </div>
  <app-lang-selector></app-lang-selector>
  <div class="row">
    <div class="col-md-6">
      <app-first></app-first>
    </div>
    <div class="col-md-6">
      <app-second></app-second>
    </div>
    </div>
    <app-footer *ngIf="service.showFooter"></app-footer>
</div>

